@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import './_mixins.scss';

body {
  height: 21000px;
  overflow-y: scroll;
  text-transform: uppercase;
  /* for Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* for Firefox */
  scrollbar-width: none;
}

/* for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}

.flex-center {
  @include flex-center();
  width: 100%;
}

.appear-element {
  opacity: 1;
  transition: opacity 1s;
}

.disappear-element {
  opacity: 0;
  transition: opacity 1s;
}

.appear-slogan {
  visibility: visible;
  overflow: hidden;
  width: 1;
  transition: width 5s;
}

.disappear-slogan {
  width: 0;
  visibility: hidden;
}

.margin-slogan {
  margin-right: 1vw;
}

.display-none {
  display: none;
}

.main-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Krona One', sans-serif;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("../img/background.png");
  scrollbar-width: none;
  color: #fefefe;
  z-index: 1;

  .spiral {
    opacity: 0.4;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
  }

  .spiral-disappear {
    opacity: 0;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    transition: opacity 2s;
  }

  .home__rectangle {
    border: 0.6vmax solid white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 60vw;
    z-index: 99;
    .container-devinnet {
      font-size: 3.5vw;
      display: block;
      width: 23vw;
      // __ si un "part"
      &__part {
        // - pour plusieurs élements de part
        &-developpons {
          align-items: center;
          display: flex;
          transform: translate(0, 50%);

          &-move {
            transform: translate(0, -5%);
            font-size: 5vw;
            transition: transform 5s, font-size 5s ease-in-out;
          }
          &-stop {
            transform: translate(0, -5%);
            font-size: 5vw;
          }
        }
        &-internet {
          align-items: center;
          display: flex;
          transform: translate(9vw, -50%);
          &-move {
            transform: translate(0, 5%);
            font-size: 5vw;
            transition: transform 5s, font-size 5s ease-in-out;
          }
          &-stop {
            transform: translate(0, 5%);
            font-size: 5vw;
          }
        }
      }
      // -- pour un modifier de l'élement (autre varient)
      // modifie la classe de base
      &--large {
        width: 95%;
        transition: width 5s ease-in-out;
      }
      &__slogan {
        &-developpons {
          &-disappear {
            width: 0;
            visibility: hidden;
          }
          &-appear {
            visibility: visible;
            overflow: hidden;
            width: 39vw;
            transition: width 5s;
          }
          &-stop {
            visibility: visible;
            overflow: hidden;
            width: 39vw;
          }
        }
        &-internet {
          &-disappear {
            width: 0;
            visibility: hidden;
          }
          &-appear {
            visibility: visible;
            overflow: hidden;
            width: 12.7vw;
            transition: width 4s;
          }
          &-stop {
            visibility: visible;
            overflow: hidden;
            width: 12.7vw;
          }
        }
      }
      &__surrounded {
        &-disappear {
          padding: 2px 10px;
          transition: padding 5s ease-in-out;
        }
        &-appear {
          border: 0.4vmax solid white;
          border-radius: 2.5vmax;
          padding: 2px 10px;
          transition: border 0.2s ease-in-out;
        }
        &-stop {
          border: 0.4vmax solid white;
          border-radius: 2.5vmax;
          padding: 2px 10px;
        }
      }
    }
    .flashing-text {
      animation-duration: 1s;
      animation-name: clignoter;
      animation-iteration-count: infinite;

      @keyframes clignoter {
        0% {
          opacity: 1;
        }

        40% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }
  .home__large-rectangle {
    height: 110vh;
    width: 110vw;
    opacity: 0;
    transition: 0.5s;
  }
  .slogan-container {
    position: fixed;
    display: flex;
    height: 80vh;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__box {
      &-1 {
        align-items: center;
        position: relative;
        display: flex;
        height: 100%;
        flex: 1;
        &-slogan {
          transform: translate(10vw, -15vw);
          display: flex;
          align-items: center;
          z-index: 99;
          font-size: 3vw;
        }
        &-slogan-move {
          transform: translate(0, 0);
          display: flex;
          align-items: center;
          z-index: 99;
          transition: transform 5s, font-size 5s ease-in-out;
          font-size: 2.38vw;
        }
      }
      &-2 {
        align-items: center;
        position: relative;
        display: flex;
        height: 100%;
        flex: 1;
        &-slogan {
          transform: translate(-15vw, 10vw);
          display: flex;
          align-items: center;
          z-index: 99;
          font-size: 2.5vw;
        }
        &-slogan-move {
          font-size: 2.38vw;
          transform: translate(0, 0);
          display: flex;
          align-items: center;
          z-index: 99;
          transition: transform 5s, font-size 5s ease-in-out;
        }
      }
      &-3 {
        align-items: center;
        position: relative;
        display: flex;
        height: 100%;
        flex: 1;
        &-slogan {
          transform: translate(-10vw, -10vw);
          display: flex;
          align-items: center;
          z-index: 99;
          font-size: 3vw;
        }
        &-slogan-move {
          font-size: 2.38vw;
          transform: translate(0, 0);
          display: flex;
          align-items: center;
          z-index: 99;
          transition: transform 5s ease-in-out;
        }
      }
      &-4 {
        align-items: center;
        position: relative;
        display: flex;
        height: 100%;
        flex: 1;

        &-slogan {
          font-size: 3vw;
          transform: translate(-20vw, -20vw);
          display: flex;
          align-items: center;
          z-index: 99;
        }
        &-slogan-move {
          font-size: 2.38vw;
          transform: translate(0, 0);
          display: flex;
          align-items: center;
          z-index: 99;
          transition: transform 5s ease-in-out;
        }
      }
    }
  }
  .contact {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 4vw;
    width: 20vw;
  }
}
