@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
  height: 9000px;
  -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
    text-transform: uppercase;
}

body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.home {
  position: fixed;
  font-family: 'Krona One', sans-serif;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("../img/background.png");
  z-index: 1;
  display: flex;
  scrollbar-width: none;
  color: #fefefe;

  .spiral {
    opacity: 0.6;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
  }

  .rectangle {
    border: 10px solid white;
    position: fixed;
    display: flex;
    height: 70vh;
    width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }

  // .left {
  //   position: relative;
  //   height: 100%;
  //   width: 50%;
  //   background-color: green;
  // }

  // .right {
  //   position: relative;
  //   height: 100%;
  //   width: 50%;
  //   background-color: blue;
  // }

  // .top {
  //   position: absolute;
  //   height: 50%;
  //   width: 100%;
  //   background-color: blue;
  //   top: 0;
  // }

  // .bottom {
  //   position: absolute;
  //   height: 50%;
  //   width: 100%;
  //   background-color: green;
  //   bottom: 0;
  // }

  // .container {
  //   position: relative;
  //   height: 70vh;
  //   width: 60vw;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   z-index: 2;
  //   background-color: red;
  // }

  .large-rectangle {
    height: 110vh;
    width: 110vw;
    transition: 0.5s;
  }

  .scroll {
    position: absolute;
    bottom: 48px;
    right: 61px;
  }

  .devinnet-flashes {
    animation-duration: 1s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
  }

    @keyframes clignoter {
      0% {
        opacity: 1;
      }

      40% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

  .devinnet-developpons {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19.8vmax;
    font-size: 3.5vmax;
  }

  .devinnet-developpons-move {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25vmin;
    transform: translateY(-50%);
    left: 3vmax;
    // transform: translate(1vw, -15vh);
    transition: top 4s, left 4s, font-size 4s;
    z-index: 99;
    font-size: 5vmax;
  }

  .devinnet-internet {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 28.8vmax;
    font-size: 3.5vmax;
  }

  .devinnet-internet-move {
    display: flex;
    position: absolute;
    align-items: center;
    top: 45vmin;
    transform: translateY(-50%);
    left: 3vmax;
    // transform: translate(-26.5vw, -2vh);
    transition: top 4s, left 4s, font-size 4s;
    z-index: 99;
    font-size: 5vmax;
  }

    .devinnet-slogan-disappear {
      width: 0%;
      visibility: hidden;
    }

    .devinnet-slogan-appear {
      visibility: visible;
      overflow: hidden;
      transition: 4s;
      width: 100%;
    }

  .specialisation-frontend {
    position: fixed;
    bottom: 50%;
    font-size: 3vw;
  }

  .integration{
    position: fixed;
    bottom: 20%;
    left: 10%;
    font-size: 3vw;
  }

  .template-dynamique {
    position: fixed;
    bottom: 20%;
    right: 10%;
    font-size: 1.5vw;
  }

  .pixel-perfect {
    position: fixed;
    top: 20%;
    right: 10%;
    font-size: 2vw;
  }

  .code-propre {
    position: fixed;
    top: 20%;
    left: 10%;
    font-size: 3vw;
  }

  .experience {
    position: fixed;
    top: 60%;
    left: 10%;
    font-size: 1.5vw;
  }

  .avec-plus-de {
    position: fixed;
    top: 60%;
    left: 43%;
    font-size: 1.5vw;
  }

  .passionnes {
    position: fixed;
    top: 60%;
    right: 10%;
    font-size: 1.5vw;
  }

  .contact {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 4vw;
    width: 20vw;
  }
}

.surrounded-appear {
  border: 0.4vmax solid white;
  border-radius: 2.5vmax;
  padding: 2px 15px;
  transition: 0.3s ease-out;
}

.surrounded-disappear {
  border: 0.4vmax solid transparent;
  border-radius: 2.5vmax;
  transition: 1s ease-out;
  // padding: 2px 15px;
}

.appear-element {
  opacity: 1;
  transition: 0.5s;
}

.disappear-element {
  opacity: 0;
  transition: 0.5s;
}
