@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.home {
  font-family: 'Krona One', sans-serif;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url("../img/background.png");
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;

  .spiral {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
  }

  .rectangle {
    position: absolute;
    height: 70vh;
    width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

  }

  .scroll {
    position: absolute;
    bottom: 48px;
    right: 61px;
  }

  .devInNet {
    text-transform: uppercase;
    text-align: center;
    color: #fefefe;
    padding-top: 18px;
    font-size: 36px;
    z-index: 4;
  }

  .description {
    position: absolute;
    color: #fefefe;
    top: 25%;
    left: 25%;
    font-size: 4vw;
    width: 20vw;
    z-index: 4;
  }
}
